@theme {
  /* Global styles */
  --color-primary: #830213; /* rgba(131, 2, 19, 1); */
  --color-secondary: #b41520; /* rgba(180, 21, 32, 1); */
  --color-accent: #d61e2b;  /* rgba(214, 30, 43, 1); */
  /* Dark mode */
  --color-background-dark: #0E0E0E; /* rgba(14, 14, 14, 1); */
  --color-text-dark: #ffffff; /* rgba(255, 255, 255, 1); */
  --gradient-background-dark: linear-gradient(130deg,rgba(24, 25, 30, 1) 0%, rgba(39, 40, 48, 1) 50%, rgba(24, 25, 30, 1) 100%);
  /* Light theme */
  --color-background-light: #dddddd; /* rgba(221, 221, 221, 1); */
  --color-text-light: #18191e; /* rgba(24, 25, 30, 1); */
  --gradient-background-light: linear-gradient(130deg,rgba(204, 204, 204, 1) 0%, rgba(221, 221, 221, 1) 50%, rgba(204, 204, 204, 1) 100%);
  /* Gray colors */
  --gray-900: #18191e; /* rgba(24, 25, 30, 1); */
  --gray-800: #272830; /* rgba(39, 40, 48, 1); */
  --gray-700: #3b3d49; /* rgba(59, 61, 73, 1); */
  --gray-600: #4f525e; /* rgba(79, 82, 94, 1); */
  --gray-500: #636579; /* rgba(99, 101, 121, 1); */
  --gray-300: #cccccc; /* rgba(204, 204, 204, 1); */
  --gray-200: #dddddd; /* rgba(221, 221, 221, 1); */
  /* States*/
  --color-success: #4CAF50;
  --color-warning: #FFC107;
  --color-error: #FF0F34;
  --color-info: #2196F3;
  /* Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  /* Tipografía */
  --font-primary: 'WildWolf';
  --font-secondary: 'Univia';
  --font-secondary-bold: 'UniviaBold';
  --text-h1: 3rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.6rem;
  --text-h5: 1.3rem;
  --text-h6: 1.2rem;
  --text-base: 1rem;
  --text-small: 0.8rem;
  /* Animations */
  --animate-fadeIn: fadeIn 400ms ease-in-out;
  --animate-fadeOut: fadeOut 400ms ease-in-out;
  --animate-rotation-360-reverse: rotation-360 1s linear infinite reverse;
  --animate-rotation-360: rotation-360 1s linear infinite;
}

@custom-variant dark (&:where(.dark, .dark *));
