@theme {
  /* Global styles */
  --color-primary: #830213; /* rgba(131, 2, 19, 1); */
  --color-secondary: #b41520; /* rgba(180, 21, 32, 1); */
  --color-accent: #d61e2b;  /* rgba(214, 30, 43, 1); */
  /* Dark mode */
  --color-background-dark: #0E0E0E; /* rgba(14, 14, 14, 1); */
  --color-hover-dark: #412A2E; /* rgba(65, 42, 46, 1); */
  --color-text-dark: #ffffff; /* rgba(255, 255, 255, 1); */
  --gradient-background-dark: linear-gradient(130deg,rgba(24, 25, 30, 1) 0%, rgba(39, 40, 48, 1) 50%, rgba(24, 25, 30, 1) 100%);
  /* Light theme */
  --color-background-light: #dddddd; /* rgba(221, 221, 221, 1); */
  --color-hover-ligth: #F9DFE1; /* rgba(249, 223, 225, 1); */
  --color-text-light: #18191e; /* rgba(24, 25, 30, 1); */
  --gradient-background-light: linear-gradient(130deg,rgba(204, 204, 204, 1) 0%, rgba(221, 221, 221, 1) 50%, rgba(204, 204, 204, 1) 100%);
  /* Gray colors */
  --color-gray-900: #18191e; /* rgba(24, 25, 30, 1); */
  --color-gray-800: #272830; /* rgba(39, 40, 48, 1); */
  --color-gray-700: #3b3d49; /* rgba(59, 61, 73, 1); */
  --color-gray-600: #4f525e; /* rgba(79, 82, 94, 1); */
  --color-gray-500: #636579; /* rgba(99, 101, 121, 1); */
  --color-gray-400: #b0b3c1; /* rgba(176, 179, 193, 1); */
  --color-gray-300: #cccccc; /* rgba(204, 204, 204, 1); */
  --color-gray-200: #dddddd; /* rgba(221, 221, 221, 1); */
  --color-gray-100: #e0e3eb; /* rgba(224, 227, 235, 1); */
  /* Colors */
  --color-orange: #f97316;
  --color-orange-light: #fb923c;
  --color-orange-dark: #ea580c;
  --color-yellow: #eab308;
  --color-yellow-light: #facc15;
  --color-yellow-dark: #ca8a04;
  --color-green: #22c55e;
  --color-green-light: #4ade80;
  --color-green-dark: #16a34a;
  --color-teal: #14b8a6;
  --color-teal-light: #2dd4bf;
  --color-teal-dark: #0d9488;
  --color-blue: #3b82f6;
  --color-blue-light: #60a5fa;
  --color-blue-dark: #2563eb;
  --color-indigo: #6366f1;
  --color-indigo-light: #818cf8;
  --color-indigo-dark: #4f46e5;
  --color-purple: #8b5cf6;
  --color-purple-light: #a78bfa;
  --color-purple-dark: #7c3aed;
  --color-pink: #ec4899;
  --color-pink-light: #f472b6;
  --color-pink-dark: #db2777;
  /* Spacing */
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  /* Tipografía */
  --font-primary: 'WildWolf';
  --font-secondary: 'Univia';
  --font-secondary-bold: 'UniviaBold';
  --text-h1: 3rem;
  --text-h2: 2.5rem;
  --text-h3: 2rem;
  --text-h4: 1.6rem;
  --text-h5: 1.3rem;
  --text-h6: 1.2rem;
  --text-base: 1rem;
  --text-small: 0.8rem;
  --text-h1-tablet: 2.4rem;
  --text-h2-tablet: 2rem;
  --text-h3-tablet: 1.8rem;
  --text-h4-tablet: 1.4rem;
  --text-h5-tablet: 1.2rem;
  --text-h6-tablet: 1rem;
  --text-base-tablet: 0.875rem;
  --text-small-tablet: 0.7rem;
  /* Animations */
  --animate-fadeIn: fadeIn 400ms ease-in-out;
  --animate-fadeOut: fadeOut 400ms ease-in-out;
  --animate-rotation-360-reverse: rotation-360 1s linear infinite reverse;
  --animate-rotation-360: rotation-360 1s linear infinite;
}

@custom-variant dark (&:where(.dark, .dark *));
